.tab-link::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #39ff14;
  transition: width .3s;
  position: relative;
  z-index: 9999 ;
  /* cursor: none; */
}
  
.tab-link:hover::after {
  width: 100%;
  transition: width .3s;
  z-index: 9999 ;
}

.slider-wrap {
  width:50%;
  margin:0 auto;
}

#slider {
  /* position: relative; */
  /* width: 450px; */
  overflow: hidden;
}

.slide {
  /* position: absolute; */
  inset: 0;
  overflow: hidden;
}

.slide img {
  /* position: absolute; */
  width: 100%;
  height:100%;
}

/* big landscape tablets, laptops, and desktops */ 
@media (min-width:1025px) { 
  #slider {
    position: relative;
    width: 450px;
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    inset: 0;
    overflow: hidden;
  }
  
  .slide img {
    position: absolute;
    width: 100%;
    height:100%;
  }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ }